<CONFIGURITION>
   <SERVER VALUE="192.168.250.29"></SERVER>
   <USER_URI VALUE="sip:6012@192.168.250.29"></USER_URI>
   <DOMAIN VALUE="192.168.250.29"></DOMAIN>
   <USER_NAME VALUE="6012"></USER_NAME>
   <PASSWORD VALUE="1234"></PASSWORD>
   <CONNECTION VALUE="TCP"></CONNECTION>
   <REMOTE_URI VALUE="sip:2395@192.168.250.29"></REMOTE_URI>
</CONFIGURITION>
